.textMain {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 475px;
  width: 100%;
  flex-direction: column;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(0, 150, 77, 0) 0%,
    rgba(66, 92, 79, 0.6) 35%,
    #395447 50%,
    rgba(66, 92, 79, 0.6) 65%,
    rgba(0, 150, 77, 0) 100%
  );
  font-weight: 900;
  animation: riseUp 0.6s forwards;
  opacity: 0;
}

.textMain > p {
  text-shadow: 0 0 3px rgba(153, 255, 136, 0.7), 0 0 5px #000000;
  text-align: center;
}

.textMain p {
  overflow: hidden;
  display: inline-block;
}

.word {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: riseUp 0.6s forwards;
  animation-delay: 1s;
  text-shadow: 0 0 3px rgba(153, 255, 136, 0.7), 0 0 5px #000000;
}

@keyframes riseUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
